ForustaSpotify/DataAccess/obj
ForustaSpotify/DataAccess/bin
ForustaSpotify/ForustaSpotify.BL/bin
ForustaSpotify/ForustaSpotify.BL/obj
ForustaSpotify/ForustaSpotify.Common/bin
ForustaSpotify/ForustaSpotify.Common/obj
ForustaSpotify/ForustaSpotify.Data/bin
ForustaSpotify/ForustaSpotify.Data/obj
ForustaSpotify/ForustaSpotify.Tests/bin
ForustaSpotify/ForustaSpotify.Tests/obj
ForustaSpotify/.vs
ForustaSpotify/ForustaSpotify.Engine/bin
ForustaSpotify/ForustaSpotify.Engine/obj
