<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="/var/log/internal-identity-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="ForustaSpotify.Api"/>
  </extensions>

  <variable name="messageLayout" value="Message=${replace-newlines:${redacthtml:${message:withException=true}}}" />
  <!-- the targets to write to -->
  <targets>
    <target name="console-dev-async" xsi:type="AsyncWrapper">
      <target xsi:type="ColoredConsole"
			  encoding="utf-8"
			  name="console-dev"
			  layout="${date:universalTime=true:format=O} Level=${level}, Category=${logger}, Id=SYSTEM, ${messageLayout}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console-dev-async">
      <filters defaultAction='Log'>
        <when condition="contains('${message}','kube-probe')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>