<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="ForustaSpotify.Api"/>
  </extensions>

  <variable name="messageLayout" value="Message=${replace-newlines:${redacthtml:${message:withException=true}}}" />
  <!-- the targets to write to -->
  <targets>
    <target name="console-dev-async" xsi:type="AsyncWrapper">
      <target xsi:type="ColoredConsole" encoding="utf-8" name="console-dev" layout="${longdate}|${logger}|${uppercase:${level}}|${messageLayout}" />
    </target>

    <target name="logstashfileAsync" xsi:type="AsyncWrapper" ForceLockingQueue="false">
      <target xsi:type="File" name="file"
              encoding="utf-8"
              layout="${date:universalTime=true:format=O} Level=${level}, Category=${logger}, Id=SYSTEM, ${messageLayout}"
              fileName="c:\Applogs\ForustaSpotifyApi.log"
              keepFileOpen="true"
              openFileCacheTimeout="30"
              concurrentWrites="false"
              optimizeBufferReuse="true"
              cleanupFileName="false"
              autoFlush="false"
              openFileFlushTimeout="3"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console-dev-async" />
    <logger name="*" minlevel="Trace" writeTo="logstashfileAsync" />
  </rules>
</nlog>
